/*
  Dark Grey: #404040
  Dark Grey Text: #a3a3a3
  Dark Brown: #3f2a14
  Dark Orange: #ee7600
  Black: #000000
  White: #FFFFFF
*/

.home-one {
  color: #FFFFFF;
  height: 100%;
  top: 35%;
  left: 50%;
  line-height: 0.5;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 14%;
}

.home-one-item {
  margin-top: 2em;
}

.description {
  color: #a3a3a3;
  letter-spacing: 1px;
  font-size: 20px;
}

.icon-list-container {
  width: 360px;
}

.icon-list:hover .icon-item {
  color: #a3a3a3;
}

.icon-item {
  background-color: transparent;
  border: none;
  font-size: 35px;
  margin: 0px 25px 0px 25px;
  color: #FFFFFF;
}

.icon-item :hover {
  color: #FFFFFF;
}

.icon-item :active {
  border: none;
}

.end {
  margin-top: 12em;
}
